<!DOCTYPE html>
<html lang="zh-TW" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- ===============================================-->
  <!--    Website Title-->
  <!-- ===============================================-->
  <title>Snorlax-Pred&#x1F331;</title>
  <!-- ===============================================-->
  <link rel="apple-touch-icon" sizes="180x180" href="../static/img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/img/favicons/favicon-16x16.png">
  <link rel="shortcut icon" type="image/x-icon" href="../static/img/favicons/favicon.ico">
  <link rel="manifest" href="../static/img/favicons/manifest.json">
  <meta name="msapplication-TileImage" content="../static/img/favicons/mstile-150x150.png">
  <meta name="theme-color" content="#ffffff">
  <link href="../static/css/theme.css" rel="stylesheet" />
  <link href="../static/css/styles.css" rel="stylesheet" />
  <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
  <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
</head>

<body>
  <!-- ===============================================-->
  <!--   置頂橫幅  -->
  <!-- ===============================================-->
  <main class="main" id="top">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 bg-light opacity-85"
      data-navbar-on-scroll="data-navbar-on-scroll">
      <div class="container"><a class="navbar-brand" href="#header"><img class="d-inline-block align-top img-fluid"
            src="../static/img/gallery/logo-icon.png" alt="" width="50" /><span
            class="text-theme font-monospace fs-4 ps-2">Snorlax-Pred</span></a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item px-2"><a class="nav-link fw-medium active" aria-current="page" href="#header">首頁</a>
            </li>
            <li class="nav-item px-2"><a class="nav-link fw-medium" href="#pred">一周預測</a></li>
            <li class="nav-item px-2"><a class="nav-link fw-medium" href="#tableau">特徵資料</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <section class="py-0" id="header">
      <div class="bg-holder d-none d-md-block"
        style="background-image:url(../static/img/illustrations/farmer.png);background-position:right top;background-size:contain;">
      </div>
      <!-- /.bg-holder-->
      <div class="bg-holder d-md-none"
        style="background-image:url(../static/img/illustrations/hero-bg.png);background-position:right top;background-size:contain;">
      </div>
      <!--/.bg-holder -->
      <!-- ============================================-->
      <!-- 圖表-->
      <div class="container">
        <div class="row align-items-center min-vh-75 min-vh-lg-100">
          <div class="col-md-7 col-lg-6 col-xxl-5 py-6 text-sm-start text-center">
            <p class="mb-4 title1">&#x1F4E3; {{day}} 菜價預報</p>
            <!-- <div id='guage'></div> -->
            <!-- <div id="alert"></div> -->
            <h id="priceA" class="priceA"></h>
            <h id="priceB" class="priceB"></h>
          </div>
        </div>
      </div>
      <hr>
    </section>
    <!-- ============================================-->
    <section class="py-0">
      <div id="pred" class="container">
        <p class="mb-4 title2">一周預測</p>
        <hr>
        <!-- ============================================-->
        <!-- Tableau -->
        <div class='tableauPlaceholder' id='viz1664195826747' style='position: relative'><noscript><a href='#'><img
                alt='0926 '
                src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;09&#47;0926_16641952226270&#47;0926&#47;1_rss.png'
                style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
            <param name='embed_code_version' value='3' />
            <param name='site_root' value='' />
            <param name='name' value='0926_16641952226270&#47;0926' />
            <param name='tabs' value='no' />
            <param name='toolbar' value='yes' />
            <param name='static_image'
              value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;09&#47;0926_16641952226270&#47;0926&#47;1.png' />
            <param name='animate_transition' value='yes' />
            <param name='display_static_image' value='yes' />
            <param name='display_spinner' value='yes' />
            <param name='display_overlay' value='yes' />
            <param name='display_count' value='yes' />
            <param name='language' value='zh-TW' />
          </object></div>
      </div>
    </section>
    <!-- ============================================-->

    <div class="container">
      <div class="row">
        <div class="col-lg-9 mx-auto text-center mb-3">
          <br><br>
          <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">青菜底價啦</h5>
          <p class="md1">颱風要來了，明天到底該不該買菜呢？<br>
            中南部豪雨導致淹大水了，明天的菜會比較貴嗎？<br>
            菜價的浮動跟天氣有關嗎？<br>
            什麼樣的天氣會導致什麼樣的菜價呢？<br>
            <br>
            專題《青菜底價啦》透過巨量資料分析天氣與菜價之間的關係，建立出預測模型，解決您對於菜價以及採購時機的煩惱！
          </p>
        </div>
      </div>
    </div>
    <div class="container" id="tableau">
      <p class="mb-4 title2">特徵資料</p>

      <!-- ================= Rainfall ==================-->
      <div class='tableauPlaceholder' id='viz1664195419950' style='position: relative'><noscript><a href='#'>
        <img alt='0926降水量 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;09&#47;0926_16641934895180&#47;0926_1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
          <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
          <param name='embed_code_version' value='3' />
          <param name='site_root' value='' />
          <param name='name' value='0926_16641934895180&#47;0926_1' />
          <param name='tabs' value='no' />
          <param name='toolbar' value='yes' />
          <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;09&#47;0926_16641934895180&#47;0926_1&#47;1.png' />
          <param name='animate_transition' value='yes' />
          <param name='display_static_image' value='yes' />
          <param name='display_spinner' value='yes' />
          <param name='display_overlay' value='yes' />
          <param name='display_count' value='yes' />
          <param name='language' value='zh-TW' />
        </object>
      </div>
      <!-- ================= Temperature ==================-->
      <div class='tableauPlaceholder' id='viz1664195496606' style='position: relative'><noscript><a href='#'><img
              alt='0926氣溫 '
              src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;09&#47;0926_16641935474610&#47;0926&#47;1_rss.png'
              style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
          <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
          <param name='embed_code_version' value='3' />
          <param name='site_root' value='' />
          <param name='name' value='0926_16641935474610&#47;0926' />
          <param name='tabs' value='no' />
          <param name='toolbar' value='yes' />
          <param name='static_image'
            value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;09&#47;0926_16641935474610&#47;0926&#47;1.png' />
          <param name='animate_transition' value='yes' />
          <param name='display_static_image' value='yes' />
          <param name='display_spinner' value='yes' />
          <param name='display_overlay' value='yes' />
          <param name='display_count' value='yes' />
          <param name='language' value='zh-TW' />
        </object></div>
    </div>
    <!-- ============================================-->
    <!-- Tableau END-->
    <!-- ============================================-->

    <section class="py-0" id="contact">
      <div class="bg-holder"
        style="background-image:url(assets/img/illustrations/footer-bg.png);background-position:center;background-size:cover;">
      </div>
      <!--/.bg-holder-->
      <div class="container">
        <hr class="text-300 mb-0" />
        <div class="row flex-center py-5">
          <div class="col-12 col-sm-8 col-md-6 text-center text-md-start"> <a class="text-decoration-none" href="#"><img
                class="d-inline-block align-top img-fluid" src="assets/img/gallery/logo-icon.png" alt="" width="40" />
              <span class="text-theme font-monospace fs-3 ps-2">Snorlax-Pred</span></a></div>
          <div class="col-12 col-sm-8 col-md-6">
            <p class="fs--1 text-dark my-2 text-center text-md-end">&copy; iSpan BDSE26-TEAM1&nbsp;</p>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- ============================================-->
  <script>
    var priceA = {{ gain }};
    if (priceA > 0) {
      document.getElementById('priceA').innerHTML += "漲 ";
    } else {
      document.getElementById('priceA').innerHTML += "跌 ";
      document.querySelector('.priceA').style.color = "#33AA6A";
      document.querySelector('.priceB').style.color = "#33AA6A";
    }
    priceB = Math.abs(priceA)
    document.getElementById('priceB').innerHTML += priceB + " %"
  </script>
  <script src="../static/vendors/@popperjs/popper.min.js"></script>
  <script src="../static/vendors/bootstrap/bootstrap.min.js"></script>
  <script src="../static/vendors/is/is.min.js"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
  <script src="../static/js/theme.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
  <script src="../static/js/chart-area-demo.js"></script>
  <script src="../static/js/gauge.js"></script>
  <script src="../static/js/tableau.js"></script>
  <script src="../static/js/alert.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&amp;display=swap" rel="stylesheet">
</body>

</html>